html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  font-family: 'Avenir W01', 'Avenir';
  font-size: 12px;
}

body {
  display: grid;
  height: 100%;
  margin: 0;
  padding: 5px 15px;
  box-sizing: border-box;
  grid-template-rows: 75px auto;
  background: rgb(244, 244, 244);
  color: rgb(34, 49, 53);
  
  header {
    display: grid;
    position: relative;
    padding: 15px 5px;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid rgb(188, 193, 194);
    box-sizing: border-box;
    
    img {
      position: absolute;
      top: 50%;
      left: 0;
      height: 40px;
      transform: translateY(-50%);
    }
    span {
      display: inline-flex;
      align-items: center;
      font-weight: 400;
      font-size: 1.333rem;
      letter-spacing: 0.01rem;
    }
    code {
      margin-left: 5px;
      padding: 3px 10px;
      border-radius: 10px;
      color: #c30035;
      background: mix(white, rgb(195, 0, 53), 85%);
      font-weight: normal;
      line-height: 1;
    }
  }

  article {
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;  
    
    h1 {
      font-family: 'Roboto Slab';
        font-size: 2.667rem;
        font-weight: 300;
    }

    p {
      font-weight: 400;
      font-size: 1.333rem;
      letter-spacing: 0.01rem;
      text-align: center;
    }
  }
}
